body{
    background-color: #96CA84;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    text-align: center;
    background-color: rgb(51, 155, 74);
}
h1 {
    color: #29E903;
    margin: 0;
}

main{
    display: flex;
}

img {
    border-radius: 30px;
    box-shadow: 0 0 34px black;
    margin: 40px 70px 80px 30px;
    width: 600px;
    height: 500px;
}
img:hover{
    transform: scale(1.03);
    transition: all 1s;
}
.textinf{
    background-color: rgb(183, 234, 162);
    height: fit-content;
    margin: 40px 50px 0 auto;
}