body, html{
    background: linear-gradient(#BBC7D5, #1E2A37);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    text-align: center;
    background: linear-gradient(to right, #34312D, #55687D, #34312D )
}
h1 {
    color: white;
    margin: 0;
}

main{
    display: flex;
}

img {
    border-radius: 30px;
    box-shadow: 0 0 34px black;
    margin: 40px 70px 80px 30px;
    width: 600px;
    height: 500px;
}
img:hover{
    transform: scale(1.03);
    transition: all 1s;
}
.textinf{
    height: fit-content;
    margin: 40px 50px 0 auto;
}